<?xml version="1.0"?>
<monthly>

	<event>
		<id>1</id>
		<name>예약불가</name>
		<startdate>2016-07-26</startdate>
		<enddate>2016-07-27</enddate>
		<starttime>03:00</starttime>
		<endtime>12:00</endtime>
		<color>#ffb128</color>
		<room>옥탑방</room>
	</event>
	
	<event>
		<id>2</id>
		<name>예약불가</name>
		<startdate>2016-07-26</startdate>
		<enddate>2016-07-27</enddate>
		<starttime>03:00</starttime>
		<endtime>12:00</endtime>
		<color>#ffb128</color>
		<room>옥탑방</room>	
	</event>
	
	<event>
		<id>3</id>
		<name>예약불가</name>
		<startdate>2016-07-26</startdate>
		<enddate>2016-07-27</enddate>
		<starttime>03:00</starttime>
		<endtime>12:00</endtime>
		<color>#ffb128</color>
		<room>옥탑방</room>
	</event>
	
	<event>
		<id>3</id>
		<name>예약가능</name>
		<startdate>2016-07-26</startdate>
		<enddate>2016-07-27</enddate>
		<starttime>03:00</starttime>
		<endtime>12:00</endtime>
		<color>#6ABF6F</color>
		<room>옥탑방</room>
	</event>


</monthly>