body, html {
	padding:0px;
	margin:0px;
	
	background-attachment: fixed;
	text-align:center;
	color:#fff;
	line-height: 1.4em;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}
li{list-style:none;}
#navWrap{border-bottom:1px solid #ccc;}
#logo{float:left; padding-left:50px; cursor:pointer;}
#nav{float:right; padding-top:50px;}
nav li{font-size:18px; color:#434343; font-weight:bold; float:left; margin:0 15px; cursor:pointer;}
nav li:hover{border-bottom:3px solid #434343;}
#adminLogin{font-size:12px; height:20px; color:#434343; float:right; padding-top:63px; padding-right:60px; cursor:pointer;}

#container{width:100%; height:auto;}
#container #leftMenuWrap{width:33.3%;}
#container #leftMenuWrap .leftNav{width:118px; text-align:center;}
#container #leftMenuWrap .leftNav dt{color:#434343; border-bottom:3px solid #ccc; line-height:1.5em; margin-bottom:10px;}
#container #leftMenuWrap .leftNav{float:left;}
#container #leftMenuWrap .leftNav dt{color:#434343; border-bottom:2px solid #ccc; line-height:1.5em; width:100%; }
#container #leftMenuWrap .leftNav .leftMenu{font-size:14px; color:#434343; line-height:2.5em; width:100%; cursor:pointer}
#container #leftMenuWrap .leftNav .activeLeft{background:#434343; color:#fff;}
#container .content{width:66.6%; float:right;}

#container .content #roomInfo{text-align:left;}
#container .content #roomImg{float:left;}
#container .content h4{float:left; color:#434343;}
#container .content #roomInfo{float:left;}
#container .content #roomInfo .infoTitle{color:#434343; font-weight:bold; padding-left:20px;}
#container .content .roomInfo .infoContent{}

.hiddenRoomInfo{display:none;}
.hiddenRoomInfo .roomName{color:#434343;}
.hiddenRoomInfo table{margin-top:30px;}
.hiddenRoomInfo table th, 
.hiddenRoomInfo table td{font-size:16px; color:#434343; vertical-align:top; text-align:left;}


.hiddenRoomInfo #bookBtnWrap{background:#389EEC; clear:both;}
.hiddenRoomInfo #bookBtnWrap a{text-decoration:none; color:#fff; line-height:2.5em;}
.onRoomInfo{display:block;}


h1 {
	font-family: 'Yanone Kaffeesatz', sans-serif;
	text-align: center;
	font-size: 77px;
	text-shadow: 0 0px 30px rgba(0, 0, 0, 0.2);
}
h2 {
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-size:30px;
	text-shadow: 0 0px 20px rgba(0, 0, 0, 0.3);
	color:#434343;
}
.monthly {
	box-shadow: 0 13px 40px rgba(0, 0, 0, 0.5);
}

input[type="text"] {
	padding: 15px;
	border-radius: 2px;
	font-size: 16px;
	outline: none;
	border: 1px solid #eee;
	border-radius: 5px;
	color: #434343;
	width: 250px;
	height:40px;
	box-sizing: border-box;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

input[type="text"]:focus {
	border: 2px solid rgba(255, 255, 255, 1);
	background:#eee;
	color:#222;
}
label{clear:both; padding-left:10px;}
.page ul{padding-bottom:28px;}
.page ul li{float:left; }
#chkWrap{padding-left:28px;}
.button {
	display: inline-block;
	padding: 15px 25px;
	margin: 25px 0 75px 0;
	border-radius: 3px;
	color: #fff;
	background: #000;
	letter-spacing: .4em;
	text-decoration: none;
	font-size: 13px;
}
.button:hover {
	background: #3b587a;
}

.desc {
	max-width: 250px;
	text-align: left;
	font-size:14px;
	padding-top:30px;
	line-height: 1.4em;
}

.resize {
	background: #222;
	display: inline-block;
	padding: 6px 15px;
	border-radius: 22px;
	font-size: 13px;
}


}

@media (max-width: 600px) {
	.resize {
		display: none;
	}
}


.clearFix:after{content:""; display:block; clear:both;}





